body{
	padding-top: 60px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#map{ 
	position: fixed;
	height: 100%;
	width: 100%;
	border-left: 1px solid #e9eaeb;
	margin-top: -2px;
}
.filter-wrap{
	margin-left: 5%;
	margin-top: 10px;
	width: 100%;
}
.filter-wrap h2{
	font-size: 18px;
}

/* Bootstrap Tags */
.tag {
  margin-right: 2px;
  color: white;
}
.tag [data-role="remove"] {
  margin-left: 8px;
  cursor: pointer;
}
.tag [data-role="remove"]:after {
  content: "x";
  padding: 0px 2px;
}
.tag [data-role="remove"]:hover {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.tag [data-role="remove"]:hover:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

/* Withlocals Styling */

/* ----------------- WL bovenbalk ------------------ */

.navbar-brand {
  width: 206px;
  height: 50px;
  padding: 0px 20px 0px 20px;
  background: url(http://www.withlocals.com/assets/images/navbar_logo_live.png) no-repeat center top;
  text-indent: -9999px;
  margin: .2em auto;
}

.navbar {
	position: fixed;
  	background-color: white;
}

/* ----------------- Linker weergave ------------------ */

.showing {
	margin-bottom: 0.5em;
	background-color: white;
	padding: 0.5em;
	margin-top: -2px;
}

.topfilter {
	position: absolute;
	width: 100%;
	top: 0;
	background-color: white;
}

.dropdown-uitklap p {
	text-align: left;	
	margin-left: 20px;
	margin-top: 10px;
	margin-bottom: 20px;
}

.btn-group {
	float: right;
	margin-top: -40px;
	margin-right: 20px;
	display: inline-block;
}

/* ----------------- Experiences ------------------ */

.experiences {
	padding-top: 85px;	
	margin: 0;
	padding-right: 10px;
}

.experiences ul {
	margin-left: -32px;	
}

.experiencesList {
	cursor: pointer;
	list-style: none;
	padding-bottom: 8px;
	-webkit-box-shadow: 0 0 0 4px white, 0 6px 8px #E9EAEB;
    -moz-box-shadow: 0 0 0 4px white, 0 6px 8px #E9EAEB;
    box-shadow: 0 0 0 4px white, 0 6px 8px #E9EAEB;
}

.experiencesList #Type, #Type {
	background: rgba(0, 0, 0, .4);
	width: 120px;
	color: white;
	position: absolute;
	margin-top: 92px;
	padding: 1px;
	padding-left: 5px;
}
.experiencesList #Type:first-letter, #Type:first-letter, #Title:first-letter  {
    text-transform: uppercase;
}
.experiencesList #Title, #Title  {
	margin-left: 130px;
	margin-top: 22px;
	position: absolute;
	font-weight: 700;
	font-size: 13px;
	padding-right: 4px;
}
.experiencesList #Duration, .experiencesList #Location, #Duration, #Location {
	position: absolute;	
	margin-left: 130px;
	margin-top: 80px;
	font-size: 11px;
}
.experiencesList #Duration label, .experiencesList #Location label, #Duration label, #Location label{
	font-weight: 700;
	color: #09b4ed;
}
.experiencesList #Price, #Price {
	position: absolute;	
	text-align: right;
	margin-top: 33px;
	width: 100%;
	padding-right: 18px;
	font-size: 11px;
	color: #09b4ed;
}

.experiencesList #Price label, #Price label {
	font-size: 18px;
}

.experiencesList img, .expPic {
	width: 120px; 
	height: 95px;
}

/*.hostPic {
	position: absolute;
	margin-left: -42px;
	margin-top: 2px;
	width: 40px; 
	height: 40px;
}*/



/* CONTENT RECHTERKANT POPUP */
.leaflet-popup-content, .popupContent {
	width: 337px !important;
	height: 180px;
	/*cursor: pointer;*/
}

.popupContent .trigger {
	position: absolute;
	
}
.popupContent a {
	margin-top: 105px;
	text-align: center;
	color: white !important;
	width: 320px;
	margin-left: -120px;
}

.popupContent .btn-primary {
	background-color: #f35738;
	border-color: #f35738;
}

.popupContent .btn-primary:hover, .popupContent .btn-primary:hover, 
.popupContent .btn-primary:focus, .popupContent .btn-primary:active, 
.popupContent .btn-primary.active, .popupContent .popupContent 
.btn-primary.disabled, .popupContent .btn-primary[disabled] {
	background-color: #f35738;
	border-color: #f35738;
	color: white;
}



/* ----------------- Filter dropdown ------------------ */

.dropdown-geheel>a {
	float: none;
	text-decoration: none;
	display: block;
}
.dropdown-geheel {
	text-align: center;
	background-color: #fdfdfd;
	border: 1px solid #e9eaeb;
	cursor: pointer;
	padding-top: 0.5em;
	height: 2.6em;
	margin-top: 0.6em;
}
.dropdown-geheel a:hover {
	text-decoration: none;
}
.dropdown-uitklap {
	margin-top: 9px;
	padding-top: 5px;
	padding: 3px;
	width: 100%;
	background-color: #FFFFFF;
	border: 1px solid #e9eaeb;
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.navbar-form {
	position: relative;
}

/* ----------------- Rechter weergave ------------------ */

#searchbalk {
	position: absolute;
	z-index: 9999;
}

.exp-category {
	position: inherit;
	bottom: 13px;
	margin-left: 15px;
	z-index: 1000;
}
.eat, .tours, .activity {
	background-color: #f9f9f9;	
	border: 1px solid #95a5a6 !important; /* Css overschreven voor eat/tour/act deel */
	margin-right: 4px;
}
#eat, #tour, #activity {
	color: black;	
}
#eat:hover, #tour:hover, #activity:hover {
	text-decoration: none;
}
.active {
	background-color: white !important;
}
.exp-icon {
	text-align: left;
	position: absolute;	
	margin-top: 4px;
}
.exp-type {
	text-align: left;
	margin-left: 32px;
}

#MapList { 
	position: inherit;
	z-index: 1001;
	bottom: 13px;
	right: 15px;
}

.leaflet-top { /* Css overschreven voor + - in map */
	top: 40px !important;	
	left: 5px !important;
}



